@page
@model Checkers_2._0.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<form method="post">
    <div class="border">
        <input type="hidden" asp-for="Game.Id" />
        <table class="table border">
            @for (int i = 0; i < 8; i++)
            {
                <tr>
                    @for (int j = 0; j < 8; j++)
                    {
                        if (Model.Board.Storage[i, j] != null)
                        {


                            if (Model.Board.Storage[i, j].Value == "red")
                            {
                                <th id="@(i.ToString() +" "+ j.ToString())">
                                    <button name="button" value="@(i.ToString() + j.ToString())" asp-action="check"><img src="~/redCircle.png" /></button>
                                </th>
                            }
                            if (Model.Board.Storage[i, j].Value == "black")
                            {
                                <th id="@(i.ToString() + j.ToString())">
                                    <img src="~/blackCircle.png" />
                                </th>
                            }
                            if (Model.Board.Storage[i, j].Value == "redKing")
                            {
                                <th id="@(i.ToString() + j.ToString())">
                                    CervenaDama
                                </th>
                            }
                            if (Model.Board.Storage[i, j].Value == "blackKing")
                            {
                                <th id="@(i.ToString() + j.ToString())">
                                    CernaDama
                                </th>
                            }
                        }
                        else
                        {
                            <th id="@(i.ToString() + j.ToString())">Nic</th>
                        }
                    }
                </tr>
            }
        </table>
    </div>
</form>
<div>

    @TempData["buttonval"]
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
