@page
@model Checkers_2._0.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<form method="post">
    <input type="hidden" asp-for="Game.Board" />
    <input type="hidden" asp-for="Game.gameState" />
    <input type="hidden" asp-for="Game.IsTurn" />
    <input type="hidden" asp-for="Game.Player1" />
    <input type="hidden" asp-for="Game.Player2" />
    <div class="border">
        <input type="hidden" asp-for="Game.Id" />
        <table class="table border col-md-8">
            @for (int i = 0; i < 8; i++)
            {
                <tr>
                    @for (int j = 0; j < 8; j++)
                    {
                        if (Model.Board.Storage[i, j] != null)
                        {


                            if (Model.Board.Storage[i, j].Value == "red")
                            {

                                <td class="col-md-1" id="@(i.ToString() +" "+ j.ToString())">
                                    <button name="button" asp-route-id="" asp-route-buttonval="@(i.ToString() +" "+ j.ToString())" asp-page-handler="Check">Cervena</button>
                                </td>

                            }
                            if (Model.Board.Storage[i, j].Value == "black")
                            {
                                <td class="col-md-1" id="@(i.ToString() + j.ToString())">
                                    <button name="button" asp-route-id="" asp-route-buttonval="@(i.ToString() +" "+ j.ToString())" asp-page-handler="Check">Cerna</button>
                                </td>
                            }
                            if (Model.Board.Storage[i, j].Value == "redKing")
                            {
                                <td class="col-md-1" id="@(i.ToString() + j.ToString())">
                                    <button name="button" asp-route-id="" asp-route-buttonval="@(i.ToString() +" "+ j.ToString())" asp-page-handler="Check">Cervena Dáma</button>
                                </td>
                            }
                            if (Model.Board.Storage[i, j].Value == "blackKing")
                            {
                                <td class="col-md-1" id="@(i.ToString() + j.ToString())">
                                    <button name="button" asp-route-id="" asp-route-buttonval="@(i.ToString() +" "+ j.ToString())" asp-page-handler="Check">Cerna Dama</button>
                                </td>
                            }
                            if (Model.Board.Storage[i, j].Value == "green")
                            {
                                <td class="col-md-1" id="@(i.ToString() + j.ToString())">
                                    <button name="button" asp-route-id="" asp-route-buttonval="@(i.ToString() +" "+ j.ToString())" asp-page-handler="Check">Zelená</button>
                                </td>
                            }
                        }
                        else
                        {
                            <td class="col-md-1" id="@(i.ToString() + j.ToString())"></td>
                        }
                    }
                </tr>
            }
        </table>

    </div>
</form>
<div>

    @TempData["buttonval"]
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
